<div class="row">
  <div class="col-xs-12 margin-top-15">
    <%= link_to "", user_path(user), class: 'link-user' if current_user.friends_with?(user) %>
    <div class="col-xs-10">
      <ul class="list-unstyled list-inline">
        <li>
          <%= image_tag user.picture, class: "img width-40 border-radius-2" %>
        </li>
        <li class="name">
          <%= user.name %>
        </li>
      </ul>
    </div>
    <div class="col-xs-2">
      <ul class="list-unstyled list-inline height-40">
        <% if current_user.friends_with?(user) %>
          <li class="pull-right padding-right-none sent">
            <%= user.digicode %>
          </li>
        <% elsif current_user.has_asked_friendship_to?(user) %>
          <li class="pull-right padding-right-none sent">
            Sent
          </li>
        <% elsif current_user.pending_friends_with?(user) %>
          <li class="pull-right padding-right-none">
            <%= link_to decline_request_user_path(user), method: :post, class: "btn btn-no" do %>
              <i class="fa fa-close"></i>
            <% end %>
          </li>
          <li class="pull-right">
            <%= link_to accept_request_user_path(user), method: :post, class: "btn btn-yes" do %>
              <i class="fa fa-check"></i>
            <% end %>
          </li>
        <% else %>
          <li class="pull-right padding-right-none">
            <%= link_to ask_for_code_user_path(user), method: :post, class: "btn btn-ask" do %>
              Add<span class="hidden-xs"> as friend</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>