<%= content_for(:title) do %>
  Digicode
<% end %>

<%= content_for(:description) do %>
  Browse users and add people as friends to share your digicodes
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 padding-sides-15">
      <div class="search-bar">
        <div class="input-group input-group m-t">
          <input type="text" name="q" id="q" autocomplete="off" spellcheck="false" autocorrect="false" class="form-control string" placeholder="Type someone's name..." />
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 padding-sides-15">
      <div id="hits">
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  </script>
  <!-- Hogan -->
  <script src="//cdn.jsdelivr.net/hogan.js/3.0.0/hogan.common.js"></script>
  <!-- Algolia -->
  <script src="//cdn.jsdelivr.net/algoliasearch/latest/algoliasearch.js"></script>
  <script type="text/template" id="hit-template">
    <div class="row" id="user_{{ objectID }}">
      <div class="col-xs-12 margin-top-15">
        {{#friends}}
          <a class="link-user" href="{{ user_url }}"></a>
        {{/friends}}
        <div class="col-xs-9">
          <ul class="list-unstyled list-inline">
            <li>
              <img class="img width-40 border-radius-2" src="{{ picture }}" alt="{{ name }}" >
            </li>
            <li class="name">
               {{{ _highlightResult.name.value }}}
            </li>
          </ul>
        </div>
        <div class="col-xs-3">
          <ul class="list-unstyled list-inline height-40">
            {{#friends}}
              <li class="pull-right padding-right-none sent">
                {{ digicode }}
              </li>
            {{/friends}}
            {{^friends}}
              {{#hasAsked}}
                <li class="pull-right padding-right-none sent">
                  Sent
                </li>
              {{/hasAsked}}
              {{^hasAsked}}
                {{#wasAsked}}
                  <li class="pull-right padding-right-none" id="no_{{ objectID }}">
                    <a href="{{ decline_url }}", data-method="post"data-remote=true class="btn btn-no">
                      <i class="fa fa-close"></i>
                    </a>
                  </li>
                  <li class="pull-right" id="yes_{{ objectID }}">
                    <a href="{{ accept_url }}" data-method="post" data-remote=true class="btn btn-yes">
                      <i class="fa fa-check"></i>
                    </a>
                  </li>
                {{/wasAsked}}
                {{^wasAsked}}
                  <li class="pull-right padding-right-none" id="ask_{{ objectID }}">
                    <a href="{{ ask_url }}" data-method="post" data-remote=true class="btn btn-ask">
                      Add<span class="hidden-xs"> as friend</span>
                    </a>
                  </li>
                {{/wasAsked}}
              {{/hasAsked}}
            {{/friends}}
          </ul>
        </div>
      </div>
    </div>
  </script>
  <%= javascript_tag do %>
    $(document).ready(function() {
      initAlgolia(
        '<%= ENV['ALGOLIA_APPLICATION_ID'] %>',
        '<%= ENV['ALGOLIA_SEARCH_ONLY_API_KEY'] %>',
        'User<%= ENV['ALGOLIA_SUFFIX']%>',
        "<%= user_path(id: ":id") %>",
        "<%= ask_for_code_user_path(id: ":id") %>",
        "<%= accept_request_user_path(id: ":id") %>",
        "<%= decline_request_user_path(id: ":id") %>",
        '<%= current_user.friends.map { |f| f.id } %>',
        '<%= current_user.users_i_asked.map { |f| f.id } %>',
        '<%= current_user.users_who_asked_me.map { |f| f.id } %>'
      );
    })
  <% end %>
<% end %>